<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="distributor" type="JetBlack.MessageBus.FeedBus.Distributor.Configuration.DistributorSection, FeedBus"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <distributor/>

  <log4net/>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>

</configuration>
